:root {
  --bright: #f4845f;
  --dark: #5e17eb;
}

* {
font-family: 'Press Start 2P', cursive;
}

html {
  cursor: url("./Images/cursor_copy.png"), auto !important;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  cursor: url("./Images/cursor_copy.png"), auto !important;
}

p {
  text-align: center;
  background-color: var(--bright);
  border-radius: 3rem;
  border: 5px  solid  #000000;
  padding: 5px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 20px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: var(--bright);
  color: #000000;
  border-radius: 0.8rem;
  font-size: small;
}

.past {
  background-color: #FAC7A6;
  color: white;
}

.present {
  background-color: #F78965;
  color: white;
}

.future {
  background-color: #F76579;
  color: white;
}

.saveBtn {
  border: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--dark);
  color: var(--peach);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.cleanly {
  text-align: center;
}

.cleanBtn {
  background-color: #FF66C4;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.cleanBtn:hover {
  padding: 14px;
  transform: scale(1.1);
}

.lead {
  display: flex;
  justify-content: center;
}

/* .styleBorder {
  border-top: solid black;
  border-bottom: solid black;
} */
/* don't love this yet */